<h1 class="mt-5">Agregar Producto <small>{{mensajeDeseado}}</small></h1>
<hr>
<form [formGroup]="miFormulario">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label">
                Nombre:
            </label>
        </div>

        <div class="col-auto">
            <input type="text" class="form-control" formControlName="nombre">
        </div>

        <div class="col-auto">
            <span *ngIf="tieneError('nombre')" error-msg [mensaje]="mensajeDeseado" [color]="colorDeseado">
            
            </span>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-auto">
            <button (click)="cambiarNombre()" class="btn btn-primary">
                Guardar
            </button> &nbsp;
            <button (click)="cambiarColor()" class="btn btn-primary ml-1">
                Cambiar color
            </button>
        </div>

    </div>
</form>

<h3 class="mt-5">Formulario</h3>

<pre>Valid: {{miFormulario.valid}}</pre>
<pre>Value: {{miFormulario.value | json}}</pre>